p{
  margin: 0;
}


.container{
  display: flex;
  flex-direction: column;
  gap: 250px;
  align-items: center;
}

.title{
  font-size: 90px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.reaction-button{
  background-color: rgb(50, 139, 194);
  color: white;
  margin-top: -175px;
  height: 400px;
  width: 100%;
  border: none;
  font-size: 100px;
  cursor: pointer;
}

.ms-display{
  margin-top: -150px;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
}